:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
}

/* .outfit-font-400 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.outfit-font-700 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
} */

body {
    margin: 0;
    font-family: "Outfit", sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    place-content: center;
    height: 100vh;
    background-color: var(--slate-300);
}

.wrapper {
    margin: 0 auto;
    max-width: 375px;
    border-radius: 1.2rem;
    padding: 1rem;
    background-color: var(--white);
}

img {
    max-width: 100%;
    border-radius: 0.5rem;
}

.main-text {
    padding: 1rem 1.2rem;
    text-align: center;
}

.title-text {
    font-weight: 700;
    font-size: 2ch;
}

.body-text {
    font-weight: 400;
    color: var(--slate-500);
}

@media (max-width: 375px) {
    .wrapper {
        margin: 1.5rem;
    }
}
